<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>网络图片生成</title>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="login_top clearfix">

	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class=""></div>
			<div class="slogan fl"></div>
			<div class="login_form fr">
				<div class="login_title clearfix">
				</div>
				<div class="form_input">
					<form method="post" action="somg/web-image-generate/simple" enctype="multipart/form-data">
						<input style="margin-top: 50px" type="file" name="image" class="name_input">
						<input type="submit" value="生成网络图片" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>


	
</body>
</html>